body {
    font-family: Palatino, 'Times New Roman', serif;
    background-color: #F4F4F9;
    background-position-x:center;
}
div {
    border-radius: 3px;
}

a:link {
    text-decoration: none; 
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav {
    position: sticky;
    top: 0px;
    padding-top: 8px;
    background-color: #F4F4F9;
}
nav > div.flex-container {
    width:100%;
}
nav > div.flex-container > a > div {
    width: fit-content;
    padding: 5px 20px 5px 20px;
    text-align: center;
    margin: 10px;
    line-height: 24px;
    font-size: 18pt;
    color: #586F7C;
}
nav > div.flex-container > a > div:hover {
    background-color: #B8DBD9;
    color: #2F4550;
}
nav > div.flex-container > a > div:active {
    background-color: #586F7C;
    color: #000000;
}
nav > div.flex-container > a > .selected {
    border-width: 1px;
    border-style: solid;
    border-color: #586F7C;
    padding: 4px 19px 4px 19px;

}
nav > h1 {
    text-align: center;
    color:#2F4550;
    font-size: 36pt;
    font-weight:normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




div.separator {
    width: 100%;
    position: absolute;
}
.line {
    height:1px;
    background-color: #586F7C;
    margin: auto;
    text-align: center;
    margin: 10px auto 12px auto;
}
.fifty {
    width: 50%;
}
.eighty {
    width: 80%;
}



h1.heading {
    color:#2F4550;
    font-weight: lighter;
    margin-left: 10%;
    text-align: left;
}
p.paragraph {
    color:#2F4550;
    font-weight: lighter;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
}

.body > div {
    width: fit-content;
    text-align: center;
}



#image_FEIT {
    width: 80%;
}
.image_description {
    color:#586F7C;
}

.whitespace {
    height: 10000px;
}